@font-face {
    font-family: first;
    src: url(./../../Font/Oswald-VariableFont_wght.ttf);
 }
 
 @font-face {
    font-family: pacifico;
    src: url(./../../Font/Allura-Regular.ttf);
 }
 @font-face {
   font-family: amitas;
   src: url(./../../Font/Amita-Bold.ttf);
}

