.roomcontainer{
    width: 100%;

    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;

}


.featuredroom{
    max-width: 1700px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(48, 57, 82,.5),rgba(48, 57, 82,.5)),url('./../../Background/paolo-nicolello-2gOxKj594nM-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;


    
}


.card_item{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
        
        grid-gap: 20px;
        width: 80%;
        padding: 60px;

        
        .roomcard{
            position: relative;
            margin-bottom: 50px;
            transition: .2s all linear;
            box-shadow: 0px 10px 10px 0px rgba($color: #000000, $alpha: .3);
            border-radius: 10px 10px 0px 0px;
            
            &::after{
                content: "";
                position: absolute;
                bottom: 4px;
                left: 0;
                width: 100%;
                height: 0%;
                background-color: rgba(210, 218, 226,.5);
                transition: .2s all linear;
                border-radius: 10px 10px 0px 0px;
                
            }
         
        img{
            width: 100%;
            height: 200px;
            border-radius: 10px 10px 0px 0px;
      
        }
        .links{
            position: absolute;
            top: 50%;
            left: 50%;
  
            color: black;
            padding: 5px;
            text-decoration: none;
            transform: translate(-50%,-50%);
            transition: .2s all linear;
            z-index: 99;
            transform: scale(0);
            opacity: 0;
            transition: .4s all linear;
            outline: 2px solid #2c3e50;

            h2{
                color: rgba(235, 47, 6,1.0);
                font-family: first;
                padding: 10px;
                text-transform: capitalize;
                font-size: 18px;
                background-color: white;
               

            }

        }
        .price_section{
            width: 100%;
            height: 50px;
            border-radius: 0 0 10px 10px;
            background-color:rgba(235, 47, 6,1.0) ;
            position: absolute;
            top: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            h3{
                padding: 20px;
                font-family: first;
                color: white;
                text-transform: capitalize;
                font-weight: bold;
                font-size: 18px;
            }
        }
        
    }
}

.titleContainer{
   
    width: 100%;
    height:auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  

   h1{
       color:white;
       font-family: first;
       padding: 25px;
        position: relative;
       
       &::after{

        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color:rgba(235, 47, 6,1.0);
        display: block;
        left: 0;

       }

   }
}

.roomcard:hover{
    transform: translateY(-5px);
    box-shadow: 0px 60px 10px 0px rgba($color: #000000, $alpha: .3);
}
.roomcard:hover::after{
    height: 200px;
}
.roomcard:hover .links{
    transform: scale(1);
    transform: translate(-50%,-50%);
    opacity: 1;
}
.links:hover{
    opacity: .8 !important;
}
.More_first{
    text-transform: capitalize;
    font-family: first;
    background-color: white;
    border-radius: 10px 0px 10px 0;
    font-size: 22px;
    margin-bottom: 30px;
    color: rgba(235, 47, 6,1.0);
    padding: 10px 40px;
    box-shadow: 8px 8px 5px rgba($color: #000000, $alpha: .5);
    cursor: pointer;
    transition: .2s all linear;
    
   
}
.More_first:hover{
    transform: translateY(-5px);
    box-shadow: 8px 20px 5px rgba($color: #000000, $alpha: .5);
}